.container-form{
    padding: 15px;
    width: 40%;
    height: 8em;
    margin: 25px auto;
    border-style: double;
    text-align: center;
    color: #337ab7;
}

h1{
    margin-top: 0;
}

ul{
    display: flex;
    list-style: none;
}

li{
    margin-right: 15px;
}

nav{
    background-color: #337ab7;
    padding: 3px 0 3px 0;
}

a{
    color: white;
    text-decoration: none;
}

.logo{
    text-align: center;
}

.img-logo{
    width: 12%;
}