.row {
  display: block;
}

.signin{
    border-style: groove;
    text-align: center;
    padding: 5%;
    width: max-content;
    margin: auto;
}

.home{
  text-align: center;
  border-style: solid;
}
